body {
  font-family: "Martian Mono", monospace, "Overpass", sans-serif;
  overflow-y: scroll;
  padding-left: 9px;
  background-color: #000;
  background-image: url(../images/5073414.jpg);
  overflow-x: hidden;
  color: #fff;
}
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
body p {
  color: #fff;
  font-style: italic;
  font-size: 18px;
}
body ul {
  list-style: none;
  color: white;
}
body li {
  color: #fff;
}

.navbar,
.navbar-expand-lg .navbar-light .bg-light {
  background-color: #26ade4;
}
.navbar .navbar-brand,
.navbar .navbar-expand-lg .navbar-light .bg-light .navbar-brand,
.navbar-expand-lg .navbar-light .bg-light .navbar-brand,
.navbar-expand-lg .navbar-light .bg-light .navbar-expand-lg .navbar-light .bg-light .navbar-brand {
  font-size: 24px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
}
.navbar .navbar-toggler-icon,
.navbar .navbar-expand-lg .navbar-light .bg-light .navbar-toggler-icon,
.navbar-expand-lg .navbar-light .bg-light .navbar-toggler-icon,
.navbar-expand-lg .navbar-light .bg-light .navbar-expand-lg .navbar-light .bg-light .navbar-toggler-icon {
  background-color: #fff;
}
.navbar .navbar-nav .nav-link,
.navbar .navbar-expand-lg .navbar-light .bg-light .navbar-nav .nav-link,
.navbar-expand-lg .navbar-light .bg-light .navbar-nav .nav-link,
.navbar-expand-lg .navbar-light .bg-light .navbar-expand-lg .navbar-light .bg-light .navbar-nav .nav-link {
  color: #26ade4;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-style: italic;
  font-weight: bold;
  transition: 0.4s;
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-expand-lg .navbar-light .bg-light .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-light .bg-light .navbar-nav .nav-link:hover,
.navbar-expand-lg .navbar-light .bg-light .navbar-expand-lg .navbar-light .bg-light .navbar-nav .nav-link:hover {
  color: #1b1f21;
}

.info {
  padding: 50px 0;
}
.info h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.content {
  padding: 50px 0;
}
.content h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.form-container {
  background-color: #26ade4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 40px #fff;
  margin: 50px auto;
  max-width: 600px;
}
.form-container .form-group label {
  font-size: 18px;
  color: #302e2e;
  font-weight: bold;
}
.form-container .form-group .form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.form-container .btn-primary {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #065878;
  color: #fff;
  cursor: pointer;
}
.form-container .btn-primary:hover {
  background-color: #1b1f21;
}
@media (min-width: 769px) {
  .form-container {
    margin: 100px auto;
  }
  .form-container .form-control {
    width: 300px;
  }
  .form-container .btn-primary {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .form-container .form-control {
    width: 100%;
    overflow-x: hidden;
  }
  .form-container .btn-primary {
    width: 100%;
    overflow-x: hidden;
  }
}

.footerinicio {
  background-color: #26ade4;
  padding: 20px 0;
  position: absolute;
  margin-top: 0.1px;
  width: 100%;
  font-family: "Martian Mono", monospace, "Overpass", sans-serif;
  border-radius: 5px;
}
.footerinicio p {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 768px) {
  .footerinicio {
    top: 46rem;
    overflow-x: hidden;
  }
}

.footernove {
  background-color: #26ade4;
  padding: 20px 0;
  position: absolute;
  margin-top: 55px;
  width: 100%;
  font-family: "Martian Mono", monospace, "Overpass", sans-serif;
  border-radius: 5px;
}
.footernove p {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 768px) {
  .footernove {
    top: 38.9rem;
    overflow-x: hidden;
  }
  .footernove .contentnove {
    overflow-x: hidden;
  }
}

/* Estilos para las novedades */
.novedades-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las novedades */
}

.novedad {
  flex: 0 0 calc(50% - 10px); /* Dos elementos en una fila, con margen entre ellos */
  background-color: #26ade4;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}
.novedad img {
  max-width: 100%;
  height: auto;
}
.novedad p {
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
}
.novedad a {
  color: red;
}
.novedad a:hover {
  color: black;
}

.footer {
  background-color: #26ade4;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-family: "Martian Mono", monospace, "Overpass", sans-serif;
  border-radius: 5px;
  margin-top: 50px;
}
.footer p {
  font-size: 16px;
  color: #fff;
}
@media (max-width: 768px) {
  .footer {
    margin-top: 0;
    overflow-x: hidden;
  }
}

.footerjuego{
  background-color: #26ade4;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  font-family: "Martian Mono", monospace, "Overpass", sans-serif;
  border-radius: 5px;
  margin-top: 50px;
  right: 0.01rem;

}

.slider {
  width: 100%;
  height: 500px;
  overflow-x: hidden;
  position: relative;
  bottom: 1px;
  overflow-y: hidden;
}
.slider .slides {
  display: flex;
  width: 500%;
  height: 100%;
  animation: slide-animation 15s infinite;
}
.slider .slides .slide {
  width: 20%;
}
.slider .slides .slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.slider input[name=slider] {
  display: none;
}
.slider .slider-navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.slider .slider-navigation label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}
.slider .slider-navigation input[name=slider]:checked ~ label {
  background-color: #555;
}
@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-20%);
  }
  45% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(-40%);
  }
  70% {
    transform: translateX(-40%);
  }
  75% {
    transform: translateX(-60%);
  }
  95% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=styles.css.map */
